@charset "utf-8";
/* CSS Document */

body {
	
	background:url(../images/login_bg.png);
}
#login-page .col-md-6 {
	color:#fff;
	height: 300px;
	border: 2px solid #333;
	border-radius: 8px;
	box-shadow:0 0 15px 5px #333;
	background: rgba(0,0,0,0.3);
	/*垂直居中*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#login-page form {
	margin-top:50px;
}
.padding-right {
	padding-right:0;
}
.padding-left {
	padding-left:0;
}
#login-page .has-error label,#login-page .has-success label {
	color:#fff;
}

#login-page .has-error input {
	background:#C99;
}