/*后台头部样式*/
body {
	background:url(../images/bg.png);
}
.nav-diy {
	border:none;
	background:url(../images/login_bg.png);
}
.nav-diy .container {
	width:100%;
}
.nav-diy .navbar-header a {
	color:#fff;
	text-shadow:2px 1px #000;
	font-family:'微软雅黑';
}
.nav-diy .navbar-collapse ul.navbar-nav li span {
	display:block;
	margin-right:10px;
	float:left;
	color:#fff;
	padding-bottom: 15px;
    padding-top: 15px;
}
.nav-diy .navbar-collapse ul.navbar-nav li a {
	color:#fff;
	display:block;
	float:right;
}
.wrap {
	height:55px;
}
/*后台左侧栏样式*/
.www-left {
	margin-top:50px;
	background:url(../images/login_bg.png);
	width:200px;
	height: 100vh;
	border:1px solid;
}
/*左侧菜单*/
.sidebar-menu{
    border-right: 1px solid #c4c8cb;
}
.sidebar-menu a {
	display:block;
}
/*一级菜单*/
.menu-first{
    height:45px;
    line-height:45px;
    background-color: #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #e1e1e1;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
/*二级菜单*/
.menu-second li a{
    background-color: #f6f6f6;
    height:31px;
    line-height:31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    text-align:center;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}
/*覆盖bootstrap的样式*/
.nav-list,.nav-list li a{
    padding: 0px;
    margin: 0px;
}
.form-group {
	width:100%;
}
.form-group label {
	padding-right:0;
}

 
/*右侧*/
.www-content {
	margin-top:70px;
	padding-left: 220px;
    width: 100%;
}

/*返回顶部*/
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -50px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}
/*列表*/
.grid-view {
	font-size:12px;
}

